<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title ng-bind="<3thea2gether<3"></title>

    <!-- CSS -->
    <!-- load Bootstrap and custom style.css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <!-- load Angular, Firebase, Firebase Angular Library, and custom app.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="theatreApp" ng-controller="MainController">
    <div class="page-header text-center">       
    <h1>thea2gether</h1>        
    <form ng-submit="createUser(createUserData)" ng-hide="isLoggedIn()">
      <input ng-model="createUserData.email" placeholder="Email"/>
      <input ng-model="createUserData.username"placeholder="Username"/>
      <input ng-model="createUserData.password1" type="password" placeholder="Password"/>
      <input ng-model="createUserData.password2" type="password" placeholder="Repeat password"/>
      <button type="submit">Sign up</button>
    </form>

    <form ng-submit="loginUser(loginUserData)" ng-hide="isLoggedIn()">
      <input ng-model="loginUserData.email" placeholder="Email"/>
      <input ng-model="loginUserData.password" type="password" placeholder="Password"/>
      <button type="submit">Log in</button>
    </form>

    <form ng-submit="logoutUser()" ng-show="isLoggedIn()">
      <button type="submit">Log out</button>
    </form>
  </div>
    <div ng-view></div>
</body>
</html>