<h1>{{room.roomTitle}}</h1>
<p>{{room.roomDesc}}</p>
<div>
	<div ng-repeat="message in messages">
		<h3 ng-bind="message.user"></h3>
		<p ng-bind="message.text"></p>
	</div>
</div>
<!-- <input type="text" name="user" ng-model="user" placeholder="Name"> -->
{{rootScope.authData}}
<div ng-show="rootScope.authData">
	<form ng-submit="addMessage()">
		<label ng-bind="getUsername()"></label>
		<input type="text" name="text" ng-model="message" placeholder="Message">
	</form>
</div>
<div ng-hide="rootScope.authData">
	<p>Please login to leave messages</p>
</div>

